body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #444444;
}

#canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#paint-tool-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #444444;
}

#toolbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #aaa;
    padding-left: 10px;
    border-left: solid 2px #000;
}

#close-paint-tool {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
}

#paint-tool-mode {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

#paint-tool-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}