body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #444444;
}

#canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#canvas-buttons {
    margin: 20px;
}

#canvas-buttons button {
    width: 150px;
    height: 50px;
    font-size: larger;
    font-family: sans-serif;
    border: solid #000 6px;
    background-color: #ddd;
}

#canvas-buttons button:hover {
    background-color: #fff;
}

#canvas-buttons button:active {
    background-color: #aaa;
}

#paint-tool-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #444444;
}

#toolbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #aaa;
    padding-left: 10px;
    border-left: solid 2px #000;
}

#close-paint-tool {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
}

#paint-tool-mode {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

#paint-tool-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#paint-tool-toolbar button {
    box-sizing: content-box;
    border: #fff 1px solid;
    margin: 0px 2px;
    padding: 0px;
    height: 20px;
    width: 20px;
}

#paint-tool-toolbar button.selected {
    border: #000 2px solid;
}

#paint-tool-resize {
    position: absolute;
    border: 1px solid #000;
    padding: 5px;
    background-color: #008;
    width: 200px;
    color: #fff;
}

#paint-tool-resize header {
    font-weight: bold;
    font-size: large;
}